@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Roboto&display=swap");
.service-text {
  font-family: "Arizonia";
  font-size: 2.5rem;
  margin: 0px;
  margin-top: 20px;
}
.service {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.underline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.all-services {
  background-image: url("../assets/Model\ 6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
